CONFIG_NAME=/var/supervisor/supervisord.conf

SUPERVISOR_API_USERNAME=supervisor
SUPERVISOR_API_PASSWORD=supervisor

NUMPROCS_BANKRUPTCY_WORKER=1
NUMPROCS_UNDERWRITING_WORKER=1
NUMPROCS_POTENTIAL_FRAUD_WORKER=1
NUMPROCS_FAIL_REMOVE_INFINITY_WORKER=1
NUMPROCS_TRIGGERS_WORKER=1
NUMPROCS_TO_LARAVEL_WORKER=1
NUMPROCS_NOTIFICATION_WORKER=1
NUMPROCS_MASS_NOTIFICATION_WORKER=1
NUMPROCS_DEBT_NOTIFICATION_WORKER=1
NUMPROCS_ONEC_OWA_WORKER=1
NUMPROCS_DISCOUNT_WORKER=1
NUMPROCS_SMS_NOTIFICATION_WORKER=1
NUMPROCS_SMS_PRIORITY_NOTIFICATION_WORKER=1
NUMPROCS_CHANGE_CUSTOMER_STATE_WORKER=1
NUMPROCS_APPROVE_IDENTIFICATION_WORKER=1
NUMPROCS_SCORING_UPDATE_LIMIT_WORKER=1
NUMPROCS_SCORING_INVALID_SCORING_DATA_WORKER=1
NUMPROCS_SCORING_CUSTOMER_BLOCKING_CHANGED_WORKER=1
NUMPROCS_SCORING_CUSTOMER_BLACKLIST_CHANGED_WORKER=1
NUMPROCS_NOTIFIER_WORKER=1
NUMPROCS_SCAN_PASSPORT_WORKER=1
NUMPROCS_ONEC_OWC_WORKER=1
NUMPROCS_SEND_OPERATION_WORKER=1
NUMPROCS_CREATE_APPLICATION_COLLECTOR_DISCOUNT_UPLOAD_WORKER=1
NUMPROCS_RECEIVE_INN_WORKER=1
NUMPROCS_DECLINE_PIXEL_ORDERS_WORKER=1
NUMPROCS_RNS_NOTIFICATION=1
NUMPROCS_CREATE_NOTIFICATIONS=1
NUMPROCS_ASSIGN_COLLECTOR_LOANS_UPLOAD=1
NUMPROCS_UPLOAD_APPLICATION_TO_COLLECTOR_AGENCY_WORKER=1
NUMPROCS_CUSTOMER_DUPLICATE=1
NUMPROCS_INFINITY_SALES_REPEAT_CLIENTS_THIRD_SORT=1
NUMPROCS_SCORING_NEW_WORKER=1
NUMPROCS_CARD_SCORING_WORKER=1
NUMPROCS_SCORING_REGULAR_WORKER=1
NUMPROCS_SEND_CUSTOMER_ACTION=1
NUMPROCS_REQUEST_INN_WORKER=1

NUMPROCS_BILLING_WORKER=1
NUMPROCS_BILLING_LOAN_UPDATED_CONSUME=1
NUMPROCS_BILLING_MSG_PROCESSING_ERROR_CONSUME=1
