[mysqld]
sql_mode="NO_ENGINE_SUBSTITUTION"
collation-server=utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server=utf8
default-time-zone='+07:00'
default_authentication_plugin='mysql_native_password'
